html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,i,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol,li{list-style:none;}
:focus{outline:0;}

html{height:100%;}
body{font:400 14px/1.5 "microsoft yahei",Verdana,Arial,Helvetica,sans-serif;color:#444;background:#fcfced;}
body.bg-gray{background:#f5f5f5;}
a{text-decoration: none;color:#444;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.gray{color:#999;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
img{vertical-align:top;}


.content{max-width:600px; min-width:320px; width:100%;background:#fff;margin:0 auto; padding:0;}
.com-home{background:#f2f0f0;}
.ads{position:relative; }
.ads .swipe{overflow: hidden;visibility: hidden;position:relative;}
.ads .swipe-wrap{overflow:hidden;position:relative;}
.ads .swipe-wrap > div {float: left;width: 100%;position:relative;}

.h-pos{position:absolute; bottom:3px; right:0; padding-right:8px; margin:0; text-align:right;}
.h-pos li{width:10px;height:10px;margin:0 3px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background:#555;}
.h-pos li.cur{background-color:#fff;}
.h-pos li.tscons-nav-item-cur{background-color:#fff;}
.img-ads{ display: block; width: 100%;  height: auto; max-height:160px;}

.ads-layer{position:absolute; left:0; top:0; width:34%; height:100%; background:rgba(246, 172, 47, 0.8);}
.ads-layer a{width:100%; height:100%; display:block; overflow:hidden;}
.ads-layer span{display:block; margin-left:9%; font-size:16px; color:#555;}
.ads-layer span img{width:100%;}
.ads-layer .tit01{margin-top:8%; margin-left:8%; margin-right:9%;}
.ads-layer .tstit{width:54%;}
.ads-layer .tit02{font-size:14px; letter-spacing:1px;}
.ads-layer .tit03{font-size:12px;}

.com-home .mt{margin-top:1%;}
.com-home .mt2{margin-top:3%;}
.home-ads{display:table;}
.tbl-cell{display:table-cell; width:50%; overflow:hidden; vertical-align:top;}
.tbl-cell:first-child a{margin-right:4%; display:block;}
.tbl-cell:last-child{position:relative;}
.tbl-cell:last-child a{margin-left:4%; display:block;}
.h-img{width:100%; height:auto; overflow:hidden; display:block;}
.tbl-cell:last-child a.tbl-mt{margin-top:8px; position:absolute; right:0; bottom:0;}

.pro-item{width:300px; margin:0 auto; padding-top:2%;}
.pro-item:last-child{padding-bottom:6%;}
.pro-item h2{font-size:22px; text-align:center; display:block; padding:5% 0 2%;}
.pro-itemcon{float:left; width:300px; margin:0 auto;}
.pro-itemcon li{margin:1% auto 0;}
.pro-itemcon li:last-child{margin-top:4%;}
.pro-itemcon li .item{margin-right:4%; width:48%; float:left; max-width:262px; position:relative;}
.pro-itemcon li .item:last-child{margin-right:0; float:right;}
.pro-itemcon:last-child li:last-child .item:last-child a{font-size:22px; color:#f6ac2f; height:142px; text-align:center; line-height:142px; display:block;}
.pro-itemcon li .item img{width:100%; display:block;}
.pro-itemcon .pro-info{position:absolute; left:0; bottom:0; width:100%; background:rgba(246, 172, 47, 0.8); padding:2% 3%;box-sizing: border-box;}
.pro-itemcon .pro-info .tit{font-size:16px; color:#6b3d01;}
.pro-itemcon .pro-info .pris{font-size:16px; color:#fbff0a; font-weight:bold; line-height:1.3;}
.pro-itemcon .pro-info .pris .pri{font-size:18px;}
.pro-itemcon .pro-info .iteminfob{font-size:12px; color:#fff;}
.com-home .pro-item .tscons-viewport{overflow:hidden; position:relative;}

.pro-pos{width:100%; text-align:center; margin:1.5% 0 0;}
.pro-pos li{background:#292929; width:10px; height:10px; -webkit-border-radius:5px; border-radius:5px; display:inline-block; margin:0 4px;}
.pro-pos li.tscons-nav-item-cur{background:#f6ac2f;}

.body-setinfo{background:url(../images/bg_600x1000.jpg) no-repeat; background-size:100%;  background-attachment:fixed; width:100%; height:100%;}
.com-setinfo{padding:14px;}
.setinfot-link{margin-top:30px; display:table; width:100%;}
.setinfot-link span{display:table-cell;}
.setinfot-link span.tr{text-align:right;}
.setinfot-link a{color:#fff; font-size:16px;}
.setinfodl{margin-top:10px;}
.setinfodl dd{background:rgba(255,255,255,0.7); padding:6px 10px; position:relative; font-size:16px; margin-bottom:4px;}
.setinfodl .dl-tit{position:absolute; left:10px; top:6px; line-height:30px; display:inline-block; color:#6a3906;}
.setinfodl .dl-input{position:relative; margin-left:72px; display:block;}
.setinfodl .dl-inputcode{margin-right:90px;}
.setinfodl .text-input{width:100%; line-height:30px; background:none; border:none; color:#7cb600;}
input[type="text"],input[type="password"], select{padding:0; margin:0; border:0;}
.setinfo-con .btn-green{width:100%; text-align:center; padding:10px; border:none; background-color:#8fc31f; color:#fff; font-size:18px; margin-top:20px;}
.get-code{height:42px; line-height:42px; width:90px; text-align:center; background-color:#8fc31f; color:#fff; position:absolute; right:0; top:0;}

.userinfos{width:100%; height:110px; background:url(../images/bg_640x220.jpg) no-repeat; background-size:100%;}
.infobox{margin:0 auto; width:320px; height:100px; padding-top:10px; position:relative;}
.infohead{padding-left:20px;}
.infohead img{border-radius:100%;}
.infotxt .txt01{font-size:18px; font-weight:bold;}
.infotxt .mt{margin-top:5px;}
.infotxt{margin-left:20px;}
.infotxt .red{color:#ff1800;}
.infobox .arrow{position:absolute; right:18px; top:38px; width:30px; height:30px; border:#fff solid; border-width:0 0 2px 2px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); transform: rotate(-135deg);}
.userorder{background-color:#cc4f00; width:100%; padding:5px 0;}
.userorder li{float:left; width:33.333%; text-align:center;}
.fouritem2 li{width:25%;}
.userorder li a{color:#fff; display:block; border-right:1px solid #f8b551;}
.userorder li:last-child a{border-right:0;}
.user-links{padding:12px 0;}
.user-links a{padding:6px 20px; display:block;}
.user-links .icon01{background:url(../images/linksicon_60x60.jpg) no-repeat; border-radius:100%; width:60px; height:60px; display:inline-block;}
.user-links .titinfo{display:inline-block; vertical-align:top; margin-left:30px; margin-top:5px;}
.user-links .titinfo p{font-size:16px;}
.user-links .titinfo span{color:#959595;}
.user-links .arrow{float:right; margin-top:20px; width:14px; height:14px; border:#fbcd8a solid; border-width:0 0 1px 1px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); transform: rotate(-135deg);}

.infoedit a{display:block; padding:0 20px; height:44px; line-height:44px; background-color:#eee; border-top:1px soldid #e5e5e5; border-bottom:1px solid #e5e5e5; margin-top:8px; overflow:hidden;}
.infoedit .tit{font-size:16px; width:80px;}
.infoedit .titinfo{color:#a84200; width:102px; white-space:nowrap;  text-overflow:ellipsis; overflow:hidden; display:inline-block;}
.infoedit .des{color:#a84200;}
.infoedit .arrow{width:14px; height:14px; border:#a84200 solid; border-width:0 0 1px 1px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); transform: rotate(-135deg); float:right; display:block; margin-top:15px; margin-left:3px;}
.btn-red{background-color:#ff0000;}
.bigbtn{height:38px; line-height:38px; background-color:#ff0000; text-align:center; width:100%; color:#fff; display:block; font-size:16px;}
.exit{padding:0 10px;}

.recharge-box{padding:0 20px;}
.select-pay{width:100%; margin:30px 0 10px;}
.select-pay li{width:33%; text-align:center; float:left;}
.select-pay li a{display:block;}
.i-aselect,.i-aselected,.select-pay span,.rc-inputs .i-card,.rcn-infos .checkbox i,.cart-item .i-select,.cart-item .i-selected,.i-delete,.i-delete2,.rc-infos .i-select,.acc-head .icon,.bind-head .img,.i-edit,.noorder i,.huopintimg i{background:url(../images/icons.png) no-repeat; background-size:320px auto;}
.select-pay i{vertical-align:top; margin-top:10px;}
.i-aselect{background-position:-24px -1px; width:20px; height:20px; display:inline-block;}
.i-aselected{background-position:-1px -1px; width:20px; height:20px; display:inline-block;}
.select-pay span{margin-left:5px; display:inline-block; width:54px; height:34px; padding-top:38px;}
.select-pay .unionpay{background-position:-168px 0;}
.select-pay .alipay{background-position:-231px 0;}
.select-pay .other{background-position:-297px 0; text-align:left;}
.rc-inputs .tit{padding:0 20px; margin-bottom:6px;}
.rc-inputs .input{background-color:#fff; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; padding:6px 20px; position:relative;}
.rc-inputs .i-card{background-position:0 -39px; width:28px; height:21px; position:absolute; left:20px; top:12px;}
.rc-inputs .rc-input{display:block;}
.rc-inputs .rc-input.mr{margin-left:35px;}
.rc-inputs .text-input{width:100%; height:30px; line-height:30px;}
.seepaycard{padding:10px 20px; display:inline-block; color:#f39800; text-decoration:underline;}
.mt10{margin-top:10px;}
.btn-orange{background-color:#eb6100;}
.nextstep{padding:0 20px; margin-bottom:40px;}
.mt60{margin-top:60px;}
.rcn-timg{text-align:center; display:block; margin:10px 0;}
.rcn-timg img{max-width:375px; margin:0 auto;}
.rcnimgbox{position:relative;}
.rcnimgbox span{position:absolute; right:8px; bottom:8px; color:#fff;}

.phone{margin-top:10px; position:relative;}
.phone .input{margin-left:70px; display:block;}
.phone .text-input{height:32px; line-height:32px; text-align:center; border:1px solid #f3a96f; width:100%; box-sizing:border-box;}
.rcn-infos{padding:0 20px;}
.rcn-infos .money{position:relative; margin-top:10px;}
.rcn-infos .checkbox{display:block; margin-left:70px;}
.rcn-infos .label{position:absolute; left:0; top:0; font-size:15px; line-height:32px;}
.rcn-infos .money .label{top:3px;}
.rcn-infos .checkbox .cur i{ background-position:-41px -44px;}
.rcn-infos .checkbox .cur p{color:#f19149;}
.rcn-infos .checkbox i{ background-position:-59px -45px; width:12px; height:12px; display:inline-block; margin-right:5px;}
.rcn-infos .checkbox li a{display:block; padding:10px 0;}
.rcn-infos .checkbox p{display:inline-block; width:31%;}
.rcn-infos .checkbox span{margin-left:10px; color:#888;}

.cart-con{margin-bottom:90px;}
.cart-item{background-color:#fff; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; padding:12px 0; position:relative; margin-top:10px;}
.cart-item .iconlink a{position:absolute; left:20px; width:26px; height:26px; display:block;}
.cart-item .i-select{background-position:-29px -70px; top:22px;}
.cart-item .i-selected{background-position:-2px -70px; top:22px;}
.cart-item .i-delete{top:68px;}
.i-delete{ background-position:-57px -70px; width:26px; height:26px; display:block;}
.proinfos{margin-left:150px; margin-right:14px; position:relative; display:block;}
.cart-item .pic{position:absolute; left:66px; top:18px;}
.cart-item .pic img{border-radius:100%; width:74px;}
.proinfor .tit{height:44px; overflow:hidden;}
.proinfor .proinfotxt{width:78%; display:inline-block; line-height:18px;}
.proinfor .total{color:#959595; margin-top:5px;}
.proinfor .total .total-r{margin-left:10px;}
.proinfor .status{color:#959595; margin-top:3px;}
.goods-num{margin-top:8px;}
.goods-num .label{color:#959595;}
.goods-num .gn a{background-color:#f49800; width:42px; height:22px; line-height:22px; display:inline-block; text-align:center; color:#fff; font-size:15px;}
.goods-num .num-data{border:1px solid #e5e5e5; height:22px; line-height:22px; width:44px; text-align:center; display:inline-block;}
.proinfos .pri{position:absolute; right:0; top:0; font-size:16px; color:#f49800; text-align:right;}
.proinfos .pri .opri{font-size:14px; color:#959595;}
.total-pris{position:fixed; left:0; bottom:0; width:100%; height:50px; display:table; overflow:hidden;}
.total-pris .pricon{width:70%; background-color:#e5e5e5; display:table-cell;}
.total-pris .pricon .tit{position:absolute; left:14px; top:8px; line-height:16px;}
.total-pris .pricon .pri{margin-left:60px; font-size:18px; color:#f49800}
.total-pris .end{width:30%; background-color:#f49800; display:table-cell; text-align:center; line-height:50px;}
.total-pris .end a{display:block; color:#fff; font-size:18px;}

.rc-head{text-align:center; padding:16px 0;}
.rc-head img{border-radius:100%; width:120px;}
.rc-infos{width:274px; margin:0 auto; font-size:15px; padding-left:46px;}
.rc-infos li{margin-top:20px;}
.rc-infos li .con{margin-left:18px; color:#b1afaf;}
.rc-infos .i-select{background-position:-41px -44px; width:12px; height:12px; display:inline-block; margin-right:3px;}
.rc-infos li .data{color:#f49800;}
.givesum{margin-left:30px;}
.fixsteps{padding:0 20px; position:fixed; bottom:20px; display:block; box-sizing:border-box; width:100%;}

.acc-head{text-align:center; padding:30px 0;}
.acc-head img{border-radius:100%; width:150px;}
.acc-input{padding:6px 10px; background-color:#fff; position:relative; margin-top:10px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.acc-input .tit{position:absolute; left:10px; top:0; line-height:30px; color:#808080; padding:6px 0;}
.acc-input .text-input{height:30px; line-height:30px; width:100%;}
.acc-input .name{display:block; margin-left:88px;}
.btn-green{background-color:#8cc63f;}
.btn-gray{background-color:#999;}
.fixsteps a{margin-top:10px;}
.acc-head .iconbox{position:absolute; top:36px; left:0; display:block; width:150px;}
.acc-head .icon{background-position:-90px -52px; width:78px; height:78px; display:block; margin:0 auto; display:block;}
.acchead-box{position:relative;}

.ssp-tip{padding:0 20px; color:#8c6239; margin-top:20px;}
.towbtns{text-align:center; margin-top:30px; padding:0 20px;}
.smallbtn{width:49%; display:inline-block; text-align:center; height:38px; line-height:38px; font-size:16px; color:#fff;}

.ltwobtns{padding:0 20px; display:block; box-sizing:border-box; width:100%;}
.ltwobtns a{margin-top:10px;}
.bind-head{text-align:center; padding:30px 0 40px;}
.bind-head .img{display:block; width:61px; height:99px; background-position:-1px -100px; margin:0 auto;}
.bind-head .tip{display:block; color:#8c6239; margin-top:30px;}

.acc-input .getcode{width:110px; background-color:#f7931e; color:#fff; height:42px; line-height:42px; position:absolute; right:0; top:0; text-align:center;}
.acc-input .mrcode{margin-right:110px;}

.sd-item .tit{margin:18px 0 6px; padding:0 20px;}
.sd-item .tit i{vertical-align:middle; margin-right:4px;}
.sd-item .tit a{display:block; color:#8c6239;}
.addresscon{background-color:#fff; border-bottom:1px solid #ececec; border-top:1px solid #ececec; padding:12px 20px; color:#808080; position:relative;}
.addresscon .perinfo{margin-top:16px;}
.addresscon .perinfo .phone{margin-left:30px; color:#444;}
.i-edit{width:26px; height:26px; display:block; background-position:-54px -1px;}
.addresscon .perinfos{position:relative; margin-right:50px;}
.addresscon .f-edit{position:absolute; right:20px; top:16px;}
.addresscon .f-delete{position:absolute; right:20px; top:58px;}
.addresscon .address{line-height:18px;}

.order-div{margin:0 0 20px; display:block;}
.order-div .order-t{background-color:#f49800; color:#fff; padding:0 20px; height:30px; line-height:30px;}
.order-div .cart-item{margin:0; border:0; border-bottom:1px dotted #e5e5e5; min-height:86px;}
.order-div .cart-item .pic{left:20px;}
.order-div .proinfos{margin-left:106px;}
.orderlinks{padding:10px 20px; background-color:#fff; border-bottom:1px dotted #e5e5e5;}
.i-delete2{width:66px; height:24px; display:block; background-position:-76px -139px;}
.btn-pay{width:64px; height:22px; line-height:22px; border:1px solid #e5e5e5; display:block; text-align:center; color:#959595; border-radius:2px;}
.mb10{margin-bottom:10px;}
.order-div .total .total-r{margin-left:30px;}
.order-div .proinfos .refundbtn{position:absolute; right:0; top:60px;}

.noorder{width:100px; height:100px; background-color:#e5e5e5; border-radius:100%; margin:80px auto 20px; position:relative;}
.bg-white{background-color:#fff;}
.noorder i{width:62px; height:62px; display:block; margin:-30px 0 0 -31px; top:50%; left:50%; position:absolute; vertical-align:middle;}
.noorder .icon1{background-position:9px -204px;}
.noorder .icon2{background-position:-62px -204px;}
.noorder .icon3{background-position:-138px -204px;}

.noordertip{text-align:center; color:#a0a0a0;}
.cash-div{border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; margin:0 20px 14px; background:#fff url(../images/cashbg.png) no-repeat 0 -81px; background-size:88px; height:79px; position:relative;}
.cash-div .addcash{padding:0 16px; margin-right:84px;}
.addcash .cash-tit{font-size:15px; color:#8b4f29; margin:6px 0 6px;}
.addcash .text-input{border:1px solid #c8b39f; background-color:#f2eedf; height:32px; line-height:32px; padding:0 8px; width:100%; box-sizing:border-box;}
.cashdiv-l .cash-tit{font-size:16px; color:#cc4f00;}
.cashdiv-l .otherinfo{color:#959595; white-space:nowrap; overflow:hidden;}
.cashdiv-r{background:url(../images/cashbg.png) no-repeat 0 0; background-size:88px; width:88px; height:81px; display:block; position:absolute; right:0; top:-1px; text-align:center; line-height:81px; color:#fff; font-size:22px;}
.cashdiv-r .i-add{height:30px; line-height:28px; width:30px; display:block; border-radius:100%; background-color:#fff; position:absolute; text-align:center; font-size:30px; color:#f39800; left:28px; top:24px; font-weight:bold;}
.cash-tip{border:2px solid #f39800; margin:0 20px; margin-bottom:14px; color:#8b4f29; text-align:center; height:32px; line-height:32px;}
.cashdiv-l{padding:0 20px; margin-right:84px;}
.cashdiv-l .cash-tit{margin:4px 0 4px;}
.oldcashinfo .cash-tit{color:#444;}
.bgoldcash{background-position:0 -160px;}

.cashdt-tip{background-color:#cc4f00; height:54px; color:#fff; padding:0 20px;}
.cashdt-tip .tit{margin-left:20px; top:22px; position:relative;}
.cashgtcon{padding:0 20px; margin-top:10px;}
.cashdt-info{height:79px; position:relative; background:#f39800 url(../images/cashbg2.png) no-repeat right 20px; background-size:88px;}
.cashgtcon .cashdt-r{position:absolute; right:0; top:26px; font-size:24px; color:#fff; width:94px; text-align:center;}
.cashdt-l{padding:0 20px; margin-right:94px;}
.cashdt-l .cash-tit{color:#cc4f00; font-size:16px; padding:4px 0;}
.cashdt-l .otherinfo{color:#fff;}
.cashdt-des{border:1px solid #e1e1e1; border-top:none; border-bottom:none; background-color:#fff; padding:20px 20px 30px;}
.cashdt-des .tit{color:#cc4f00;}
.cashdt-des .con{font-size:12px; color:#959595; margin-top:16px;}
.cashbbg{background:url(../images/cashbg3.png) repeat-x 0 29px; background-size:11px; height:40px; width:100%; display:block; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; background-color:#fff; box-sizing:border-box;}
.btn-yellow{background-color:#f39800; border-radius:2px;}
.mt30{margin-top:30px;}
.oldcashdt{background:#7d7d7d url(../images/cashbg2.png) no-repeat right -88px; background-size:88px;}
.oldcashdt .cash-tit{color:#000;}
.cashbresult{border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; box-sizing:border-box; background:#e7e7e7 url(../images/cashbg3.png) repeat-x 0 -41px; background-size:11px; margin-bottom:30px;}
.cashbresult-box{padding:20px 20px 30px; background:url(../images/cashbg3.png) repeat-x 0 -260px; background-size:11px;}
.cashbresult dt{color:#cc4f00;}
.cashbresult dd{color:#959595; margin-top:16px; font-size:12px;}

.huopin-div .cart-item .pic{left:14px;}
.huopin-div .proinfos{margin-left:100px;}

.huopinedimg{position:relative;}
.huopinedimg img{width:100%; max-height:500px;}
.huopinedimg .tit{position:absolute; left:0; bottom:10px; font-size:18px; color:#fff; background:rgba(0,0,0,0.6); height:30px; line-height:30px; padding:2px 14px;}

.huopincon{padding:0 14px 100px;}
.hp-deta{width:72%; margin-top:5px;}
.hp-deta li{position:relative;}
.hpdetacon{display:block; border-bottom:1px dashed #d5d5d5; padding:10px 0; line-height:18px;}
.hp-deta li.ydot .hpdetacon{border-bottom:1px solid #f6ac2f;}
.hp-deta li.nodot .hpdetacon{border-bottom:none;}
.hpdetacon .tit{display:table-cell; min-width:44px;}
.hpdetacon .con{color:#7f7f7f; display:table-cell;}
.hpdetacon .yellow{color:#f90;}
.progresscon{margin-top:74px;}
.progressbox{position:relative; font-size:16px; height:38px;}
.progressbox .valuel{ position:absolute; top:-6px; left:0; color:#f90; line-height:20px;}
.progressbox .valuer{ position:absolute; top:-6px; right:0; line-height:20px;}
.progressbox .pweight{color:#7f7f7f; font-size:14px;}
.progress{background-color:#aaa; height:10px; border-radius:4px; position:relative; margin:0 72px;}
.bar{background-color:#f39800; height:100%; border-radius:4px; float:left; transition:width 0.6s ease 0s; position:relative;}
.bar .value{ position:absolute; top:-44px; right:-50px;}
.progressbox .pri{font-size:13px;}
.progress .bweight{line-height:14px; color:#7f7f7f; font-size:14px; position:absolute; right:-50px; top:18px; width:100px; text-align:center;}
.i-arrow1{background:url(../images/icons.png) no-repeat; background-size:320px auto; width:100px; text-align:center; height:13px; background-position:-233px -80px; padding-bottom:24px; text-align:center; color:#f90;}
.patit{color:#7f7f7f;}
.pinnum{padding:0 14px; position:fixed; left:0; bottom:0; background-color:#fff; width:100%; box-sizing:border-box;}
.pinnum .btns{margin-top:14px;}
.pinnum .numcon .numc a{width:50px; height:24px; line-height:24px; display:inline-block; background-color:#f6ac2f; text-align:center;color:#fff; display:inline-block; border-radius:2px;}
.pinnum .numcon .num-data{width:34px; text-align:center; display:inline-block;}
.pinnum .numcon .totalnum{color:#f90; font-size:16px; margin-left:14px;}
.pinnum .btn-buy{background-color:#f6ac2f; width:70px; height:24px; line-height:24px; display:inline-block; text-align:center; color:#fff; border-radius:2px;}
.pinnum .spec{color:#7f7f7f; margin:10px 0 20px;}

.order-state{padding:10px 10px;}
.order-state li{padding:8px 0; position:relative;}
.order-state .tit{font-size:15px;}
.order-state .detcon{color:#959595;}
.order-state .subbtn{position:absolute; right:0; top:12px;}
.order-state .subbtn a{display:block; width:80px; height:24px; line-height:24px; text-align:center; background-color:#f39800; color:#fff;}
.order-state .order-det{margin-right:90px; margin-left:10px;}

.huopintimg{width:100%; height:140px; background:url(../images/bg_640x280.jpg) no-repeat; background-size:100%; position:relative;}
.huopintimg .lbtn{position:absolute; left:0;}
.huopintimg .lbtn a{height:32px; line-height:32px; width:62px; padding-right:29px; text-align:center; background-color:#fff; border-top-right-radius:16px; border-bottom-right-radius:16px; padding-left:14px; display:block; box-shadow: 0 4px 2px -2px rgba(246,109,17,0.4);}
.huopintimg .ltbtn{top:26px;}
.huopintimg .lbbtn{top:82px;}
.huopintimg .ricon{width:26px; height:26px; border-radius:100%; background-color:#f6ac2f; display:block; position:absolute; right:3px; top:3px; color:#6a3906;}
.huopintimg .i-fqhp{width:18px; height:18px; display:block; background-position:0 -276px; margin:3px 0 0 4px;}
.huopintimg .i-hpgz{width:18px; height:18px; display:block; background-position:-32px -276px; margin:3px 0 0 4px;}
.huopintimg .ldate{position:absolute; right:8px; top:20px; color:#fff; text-align:center;}
.huopintimg .ldate .day{font-size:50px; line-height:58px;}
.huopintimg .ldate .time{opacity:0.8;}
.huopintimg .ldate .tip{font-size:15px; position:relative;}
.huopintimg .ldate .i-linel{background:url(../images/icons.png) no-repeat; background-position:-62px -282px; width:36px; height:8px; background-size:320px auto; display:inline-block;}
.huopintimg .ldate .i-liner{background:url(../images/icons.png) no-repeat; background-position:-98px -282px; width:36px; height:8px; background-size:320px auto; display:inline-block;}

.huopinlists{-webkit-column-width:160px; -moz-column-width:160px; -o-colum-width:160px; column-width:160px;-webkit-column-gap:0;
-moz-column-gap:0; -o-column-gap:0; width:320px; margin:0 auto;}
.huopinlists li{display:inline-block; width:160px;}
.huopinlists img{width:160px;}

.areadlcon{height:30px; line-height:30px; display:block; margin-left:88px; position:relative;}
.areadlcon .select-txt{height:30px; line-height:30px; width:100%; cursor:pointer;}
.i-selarrow{position:absolute; right:0; top:14px; border-color:#bbb #fff #fff; border-style: solid; border-width: 4px; font-size: 0; height: 0; line-height: 0; width: 0; vertical-align:middle; display:inline; cursor:pointer;}
.areadl{position:absolute; left:-10px; top:36px; z-index:10; background-color:#fff; border:1px solid #ddd; border-top:1px solid #fff; width:100%; box-sizing:border-box; padding:0 10px 6px; max-height:334px; overflow-y:auto; display:none;}
.areadl dd a{line-height:18px; display:block; min-height:24px; padding:2px 0;}
.areadl dd a:hover{color:#f90;}
.areadl dd.cur a{color:#f90;}

.fqhpdiv{padding:10px 0; margin:0 14px; position:relative; line-height:32px; border-bottom:1px solid #eee;}
.fqhpdiv .tit{position:absolute; left:0; top:10px;}
.fqhpdiv .conr{margin-left:66px; display:block;}
.fqhpdiv .conrinput{position:relative;}
.fqhpdiv .conr li:nth-child(2) .conrinput{margin-top:8px;}
.fqhpdiv .i-selarrow{right:10px;}
.fqhpdiv .select-txt{width:100%; display:block; height:32px; line-height:32px; padding:0 10px; border:1px solid #fa0; box-sizing:border-box; cursor:pointer;}
.fqhpdiv .areadl{left:0; top:31px; border:1px solid #fa0; border-top:none;}
.fqhpdiv .areadl dd a{height:28px; line-height:28px;}
.adsgegz li{width:50%; display:block; float:left;}
.adsgegz li .i-seldoted{width:9px; height:9px; border-radius:100%; background-color:#f6ac2f; display:inline-block; margin-right:6px;}
.adsgegz li .i-seldot{width:7px; height:7px; border-radius:100%; border:1px solid #f6ac2f; display:inline-block; margin-right:6px;}
.fqhpbtn{padding:0 14px; margin:20px 0;}
.fqhpbtn .btn-yellow{display:block; height:24px; line-height:24px; width:70px; text-align:center; color:#fff;}

.huopinsearch{margin:10px 14px 14px; border:2px solid #ba9b70; background-color:#dec49b; height:30px; line-height:30px; padding:2px; position:relative;}
.huopinsearch .text-input{background:none; width:100%; box-sizing:border-box; padding-right:44px; padding-left:6px; display:inline-block;}
.huopinsearch .text-btn{position:absolute; right:0; top:0; width:44px; height:32px; background:url(../images/icons.png) no-repeat; background-position:-210px -228px; background-size:320px auto; border:none; display:block;}

.weekul{height:30px; line-height:30px;}


@media (min-width: 768px){
.ads-layer .tit02{font-size:22px; letter-spacing:6px;}
.ads-layer .tit03{font-size:18px;}
}
@media (min-width: 768px){
    .manager-view li label{width:15%;}
    .manager-view li .fr-area{width:70%;}
    .search-result li{padding:10px 0 10px 8%;min-height:45px;}
    .search-result .icon{display:block;position:absolute;left:5px;width:45px;height:45px;}
    .search-result .progress{margin-top:22px;}
}

#loading{text-align:center;color:#fff;}
#loading img{vertical-align: middle;margin-right:5px;}