.order-detail-box .box-title {font-size: 18px;font-weight: bold;background: #4d4c4c;height: 40px;line-height: 40px;color: white;padding-left: 10px;}
.order-detail-box .box-title span {display: inline-table;}
.wapper {background: #fff;height: 305px; padding-top:15px;  border: 1px solid #E9E9E9; margin-bottom:20px;}
.wrapper-left {float: left;width: 200px;padding-left: 20px; margin-right:30px;}
.wrapper-left p {line-height: 18px; position:relative;text-indent:30px;}
.wrapper-left .lab {display: inline-table;width: 25px;height: 25px; background:url(../Images/Home/icon_7.png) no-repeat; position:absolute;  top:-4px; left:6px }
.wrapper-left .user-name { background-position: -2px -90px;}
.wrapper-left .user-tel {background-position: -2px -30px;}
.wrapper-left .user-addr {background-position: -2px -120px;}
.wrapper-right {float: left; width:690px; }
.fr {text-indent: 0px;} 
.wrapper-right .btn {color: white;border: none;margin-left: 10px; padding:2px 15px; font-size:12px;}
.wrapper-right .btn:hover{background:#8BBE0D }
.wrapper-right .cancel-pay {background: #58585b;}
.wrapper-right .info {width:670px;margin:43px auto 20px;font-size: 14px;line-height: 25px; border-top:1px solid #cccccc; padding-top:30px; float:left}
.wrapper-right .info b {color: #52c0d4;}
.info .left{ height:75px; width:75px; background:url(../Images/Home/warning.png) no-repeat; margin-left:100px;}
.info .right{ width:450px; float:left; margin-left:20px;}
.wrapper-right .info .state {font-size: 14px;}
.product-tab tr th {height: 60px;border-bottom: 1px solid #ccc;font-size: 14px;background: #e4e2e1;color:#666;}
.product-tab tr td {border-bottom: 1px solid #ccc;text-align: center; padding:10px 0}
.product-tab tr td a{ color:#4a4a4a}
.hot_sale {margin-top: 20px;} 
.hot_sale ul {margin-top: 5px;}
.hot_sale ul li  {display: inline-table;list-style: none;margin: 5px;background: #ffffff;position: relative;}
.hot_sale .title {height: 46px;background: #E6E7E8;line-height:46px;font-size:18px;color: #fff;padding-left: 15px;margin-top: 40px; border-bottom:1px solid #cccccc;color: #01839D}
.hot_sale .title a{ color:#01839D;}
.hot_sale .title span {font-size: 12px;font-weight: normal;float: right;margin-right: 20px;}
.hot_sale ul li div {height: 40px;line-height: 40px;padding: 0 5px;font-size:16px;font-family:"\u9ed1\u4f53";color:#333;}
.hot_sale ul li div span {float: right;color: gray;font-size: 16px;zoom:1;font-size:24px;font-family:Arial;color:#333;}
.button_list button{ margin-bottom:5px; height:26px; font-size:12px;line-height: 25px; margin: 2px 2px 5px;width: 85px;}
.button_list a{ display: inline-block; margin-bottom:5px; padding:4px 7px;}